body{
    margin: 0 auto;
    border: solid red 5px;
    color: white;
} 

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 10px;
}

.tile {
    flex: 1 0 20%;
    border: 3px solid #32303b;
    border-left: 5px solid #1baa53;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 35px;
    width: 75px;
    margin: 10px;
}

#mainContainer{
    width: 500px;
    background-color: rgb(29, 27, 39);
    justify-content: center;
    margin: 0 auto;
}

#backArrow{
    border: solid blue 5px;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
}

#topText h1{
    /*padding: 50px; */
    border: solid white 5px;
    padding-left: 25px;
}

#topText h4 {
    padding-left: 25px;
    margin-bottom: 15px;
}

#mainButtonTiles{
    margin: 0 auto;
    border: solid pink 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 27, 39);
}


#confirmButton{
    background-color: rgb(28, 170, 83);
    color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 75px;
    padding-top: 25px;
    padding-left: 25px;
    height: 50px;
}

#otherButton{
    color: rgb(255, 255, 255);
    background-color:  rgb(29,27,39);
}